<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Lili | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Lili</h1></a>
        <p>A net Lili Site</p>
      </div>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi
        perspiciatis, modi natus incidunt, earum quaerat ipsam quas libero
        similique, accusantium quae eum cum cupiditate nihil molestias pariatur
        ea voluptate. Fuga.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quam
        distinctio dolorum ratione voluptatem architecto minus, consequuntur
        culpa totam quibusdam? Quasi ea soluta quo minus quaerat eligendi dolor
        nobis totam.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, eum
        maiores? Adipisci, qui accusantium. Incidunt commodi maxime, inventore
        similique quis quam dolorem id corporis earum minus qui placeat eaque
        beatae?
      </p>
    </div>
  </body>
</html>
