<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="/">HomePage</a>
      <br />
      <a href="/about">About page</a>
    </nav>
    <h2>About page</h2>
    <h3>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit aliquid
      praesentium iure inventore consequatur! Placeat impedit, omnis rem
      numquam, voluptates quo blanditiis, earum quis quaerat odio amet magni
      accusamus nobis.
    </h3>
  </body>
</html>
