<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Lili | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Lili</h1></a>
        <p>A net Lili Site</p>
      </div>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="create-blog content">
      <form action="">
        <label for="title">Blog Title:</label>
        <input type="text" id="title" required />

        <label for="snippet">log snippet:</label>
        <input type="text" id="snippet" required />

        <label for="body">Blog body:</label>
        <textarea id="body" required></textarea>

        <button>submit</button>
      </form>
    </div>
  </body>
</html>
